* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  background-color: hsl(233, 47%, 7%);
}

body {
  min-height: 100%;
  max-width: 425px;
  margin: auto;
}

@media (min-width: 64em) {
  body{
    max-width: 1440px;
  }
}
